<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Organize and share your musical events in middle east">
		<meta name="author" content="Musichall">
		<title>Musichall | Music events in your town!</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>

	<body>
		{% include "header.html" %}

		<div id="headerwrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h1>MUSICHALL</h1>
                        <h4>Discover great musical events based on your interests in your town!</h4>
                    </div>
                </div>
            </div>
		</div>

		<section id="organizers"></section>
        
        {% block content %}
        {% endblock %}
        
		{% include "footer.html" %}
	</body>
</html>
