{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class = 'flash-error'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Event</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type="text" class="form-control" name="name"
						placeholder="Name of the event">
                </div>
                <div class="form-group">
					<label for="description">Description:</label>
					<input type="text" class="form-control" name="description"
							placeholder="Description of the event">
                </div>
                <div class="form-group">
					<label for="event_url">Event URL:</label>
					<input type="text" class="form-control" name="event_url"
							placeholder="Event URL">
                </div>
                <div class="form-group">
					<label for="event_url">Event Thumbnail URL:</label>
					<input type="text" class="form-control" name="event_thumbnail_url"
							placeholder="Event Thumbnail URL">
                </div>
                <div class="form-group">
					<label for="ticket_price">Ticket Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" maxlength="10" class="form-control" name="ticket_price"
							placeholder="Price in $">
					</div>
                </div>
                <div class="form-group">
					<label for="start_date">Start Date:</label>
					<input type="date" class="form-control" name="start_date" />
                </div>
                <div class="checkbox">
                    <label>
                    <input type="checkbox" id="checkbox" name="featured" value=1> Featured
                    </label>
                </div>
				<button type="submit" class="btn btn-default" id="submit">
				    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Create
                </button>
                <input type="hidden" name="_csrf_token" value="{{csrf_token()}}">
            </form>
		</div>
	</div>
{% endblock %}
