{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ organizer.name }}
			<figure class="creator">
				<img src="{{creator.picture}}">
				<figcaption>{{creator.name}}</figcaption>
			</figure>
			</h1>
		</div>
	</div>

    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                         <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
	
	{% if events !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Featured Events</h2>
					{% for e in events %}
						{% if e.featured %}
							<div class="event">
								<h3>{{e.name}}</h3>
								<p>{{e.description}}</p>
								<p class="event-price">{{e.price}}</p>
							</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-4">
				<h2>All Events</h2>
					{% for e in events %}
						<div class="event">
							<h3>{{e.name}}</h3>
							<p>{{e.description}}</p>
							<p class="event-price">{{e.price}}</p>
						</div>
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
